body {
    background-color: lightslategray;
  }
  
  h1 {
    animation: pulse 5s infinite;
    font-size: 36px;
    padding: 2px;
    text-shadow: 3px 3px #161a1d;
  }
  
  @keyframes pulse {
    0% {
      color: whitesmoke;
    }
  
    100% {
      color: yellow;
    }
  }
  
  h2 {
    animation-name: swing;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
  }
  
  @keyframes swing {
    0% {
      transform: translateX(0);
    }
  
    50% {
      transform: translateX(-10px);
    }
  
    100% {
      transform: translateX(0);
    }
  }
  
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
  
    &:hover {
      animation: shake 0.5s;
    }
  }
  
  /*Definición de la animación*/
  @keyframes shake {
    0% {
      transform: translate(0);
    }
  
    10%, 90% {
      transform: translate(-5px, 0);
    }
  
    30%, 70% {
      transform: translate(5px, 0);
    }
  
    50% {
      transform: translate(0);
    }
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: transparent;
  }
  
  li {
    float: left;
  
    a {
      display: block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
  
      &:hover {
        background-color: #111;
      }
    }
  }
  
  #structure {
    margin: 1rem;
  }